* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  font-size: 1.9vw;
  text-transform: uppercase;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: rgb(219, 218, 218);

  .nav {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 70%;
    top: 3%;
    left: 10%;

    li {
      list-style: none;

      .link{
        font-size: 1vw;
        color: #1c1c1c;
        text-decoration: none !important;
        text-transform: uppercase;
      }
    }

    li:hover {
      transform: scaleX(1.05) scaleY(1.05);

      a{
        transform: scaleX(1.05) scaleY(1.05);
      }
    }
  }

  .title{
    h1{
      font-size: 2.5vw;
      text-align: center;
    }

    h3{
      font-size: 1.6vw;
    }
  }
}

.content{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(102, 102, 102);

  .content_slider{
    z-index: 1;
    width: 100%;
    height: 90% !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;

      .design{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width:100%;
        height:35.2vw;
        background-color: rgb(168, 49, 2);

          h2{
            font-size: 1.9vw;
            text-transform: uppercase;
          }

          button{
            width: 10vw;
            height: 3vw;
          }
          button:hover{
            cursor:pointer;
            transform: scaleX(1.05) scaleY(1.05);
          }
      }

      .constructiv{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width:100%;
        height:35.2vw;
        background-color: rgb(168, 49, 2);

          h2{
            font-size: 1.9vw;
            text-transform: uppercase;
          }

          button{
            width: 10vw;
            height: 3vw;
          }
          button:hover{
            cursor:pointer;
            transform: scaleX(1.05) scaleY(1.05);
          }
      }

      .sborka{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width:100%;
        height:35.2vw;
        background-color: rgb(168, 49, 2);

          h2{
            font-size: 1.9vw;
            text-transform: uppercase;
          }

          button{
            width: 10vw;
            height: 3vw;
          }
          button:hover{
            cursor:pointer;
            transform: scaleX(1.05) scaleY(1.05);
          }
      }
  }
}

.d_zamer{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  h2{
    font-size: 1.9vw;
    text-transform: uppercase;
  }
}

.gallery{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

    .photo{
      width: 70%;
      height: 70%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;

        .img{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          background-color: rgb(175, 150, 5);
          color:#1c1c1c;
        }
    }
}

.comment{
  width: 100%;
  height: 100vh;
  background: rgb(214, 213, 213);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

    .comment_slider{
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: row;

      .item_first{
        width: 100vw !important;
        height: 16.5vw;
        background-color: rgb(110, 110, 110);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        
          span{
            font-size: 1.5vw;
            text-transform: uppercase;
        }
      }

      .item_second{
        width: 100vw !important;
        height: 16.5vw;
        background-color: rgb(110, 110, 110);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        
          span{
            font-size: 1.5vw;
            text-transform: uppercase;
        }
      }

      .item_third{
        width: 100vw !important;
        height: 16.5vw;
        background-color: rgb(110, 110, 110);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        
          span{
            font-size: 1.5vw;
            text-transform: uppercase;
        }
      }
    }

    .comment_form{
      width: 80%;
      height: 30%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

        .name{
          width: 15%;
          height: 15%;
          font-size: 1vw;
          outline: none;
          padding-left:1% ;
          
        }

        #message{
          resize: none;
          font-size: 1vw;
          outline: none;
          padding-left:2% ;
          
        }

        button{
          width: 15%;
          height: 15%;
        }

        
    }
}

.contact{
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


